<%= form_for(dailylog) do |f| %>
  <% if dailylog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dailylog.errors.count, "error") %> prohibited this dailylog from being saved:</h2>

      <ul>
      <% dailylog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :daily_quotes %>
    <%= f.text_field :daily_quotes %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
